.button {
  font: inherit;
  border: 1px solid #230629;
  border-radius: 5px;
  background: hsl(0, 95%, 25%);
  color: white;
  padding: 0.25rem  1.25rem 0.25rem 0.25rem;
  position: relative;
  margin: 2px;
}

.button:hover,
.button:active {
  background: #e7385e94;
  border-color: #110101af;
}

.button:focus {
  background: #9c4d5e94;
  border-color: #110101af;
  outline: none;
}


.icon {
    position: absolute;
    font-size: 12px;
    padding: 2px;
    cursor: pointer;
    align-items: center;
    right: 2px;

  }
 