.DropDownLayout {
  border-radius: 6px;
  background-color: white;
  max-width: 40rem;
  position: absolute;
  padding: 10px;

  }
  .DropDownLayoutMoblie{
    border-radius: 6px;
  background-color: white;
  max-width: 40rem;
  position: absolute;
  padding: 10px;
  }

  .widow{
    position: absolute;
  }

.selectedButton {     
  font: inherit;
  border: 1px solid #230629;
  border-radius: 5px;
  background: #741188;
  border-color: #741188;
  padding: 0.25rem 1rem;
  cursor: pointer;
  margin: 2px;
}

.button span {
  margin: 0 0.5rem;
}

@media screen and (max-width: 500px){

   .DropDownLayoutMoblie {
    display: block;
    position: initial;
  
  }

  .DropDownLayout {
    width: 100%;
    
    left:0;
  }
}
 
.footer{
  align-items: center;
}


.button {
  font: inherit;
  border: 1px solid #230629;
  border-radius: 5px;
  background: #7498da;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  margin: 2px;
}

.button:hover,
.button:active {
  background: #8ed5e7;
  border-color: #741188;
}

.button:focus {
  outline: none;
}

.container{
  display: inline-block;
}
.mobileContainer{
  display: block;
}