.button {
  font: inherit;
  border: 1px solid #230629;
  border-radius: 5px;
  background: hsl(0, 58%, 15%);
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  margin: 2px;
}

.button:hover,
.button:active {
  background: #42031194;
  border-color: #110101af;
}

.button:focus {
  background: #9c4d5e94;
  border-color: #110101af;
  outline: none;
}
.selected{

  font: inherit;
  border: 1px solid #230629;
  border-radius: 5px;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  margin: 2px;
  background: #9c4d5e94;
  border-color: #110101af;
}